.button {
  border: none;
  &__fourth-filled {
    @extend .button;
    text-align: center;
    background-color: $fourth-color;
    width: 223px;
    height: 55px;
    font-size: 25px;
    position: relative;
    bottom: 0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  &__fourth-filled:hover {
    border-style: outset;
    background-color: $fourth-color;
    border: none;
  }
  &__fourth-filled:focus {
    border-style: outset;
    background-color: $fourth-color;
    border: none;
  }

  &__main-filled {
    @extend .button;
    text-align: center !important;
    background-color: $main-color !important;
    font-family: "F37 Ginger" !important;
    font-size: 24px !important;
    position: relative !important;
    bottom: 0rem !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 49px !important;
    padding: 10px 45px 10px 45px !important;
  }
  &__main-filled:hover {
    border-style: outset !important;
    background-color: #28438a !important;
    border: none !important;
  }
  &__main-filled:focus {
    border-style: outset !important;
    background-color: #28438a !important;
    border: none !important;
  }
}
