.footer{
    background-color: $darkblue;
    min-height: 19vh;
    
    max-width: 100vw;
    

    &__row{
        max-width: 100vw;
        min-height: 100%;



    }

    &__left{
        background-image: url('../../assets/images/image17.png');
        background-repeat: no-repeat;
        background-size: 20vh;
        background-clip: left;

        &__img{
            height: 20vh;
            margin-left: 25%;
            padding-top: 5%;
            padding-bottom: 5%;

            @include tablet{
                display: none;
            }
        }
    }

    &__mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        color: $white;

        &__links{
            margin-bottom: 5%;

            
        }

        &__linkContainer{
            font-size: large;


            a{
                text-decoration: none;
                color: white
            }
        }


    }

    &__rigth{
        background-image: url('../../assets/images/image17.png');
        background-repeat: no-repeat;
        
        background-position: right 0px top;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        padding: 0;
        padding-top: 3%;
        &__iconsContainer{
            margin-top: 2%;


            &__icon{
                margin-top: 1%;

                &__img{
                    height: 60%;
                }
            }
        }
    }
}
.designed{
    background-color: white !important;
    max-width: 100vw !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    align-self: center;
    color: #28438A;

    font-weight: 700;
}

.flipped{
    transform:scaleX(-1) !important;
}