// COLORS ----------------------------------------------
$white: #ffffff;
$babyblue: #88d7f8;
$glaucous: #628cbc;
$blueyonder: #5071a7;
$viridian: #558b6e;
$orange: #fab368;
$darkblue: #28438A;
$yellow: #EFB45B;
$hardblue: #28438A;

// VARIABLES ----------------------------------------------
$main-color: $babyblue;
$blue-accent: $blueyonder;
$secondary-color: $glaucous;
$fourth-color: $orange;
$fifth-color:$yellow;
$sixth-color:$hardblue;