// COLORS ----------------------------------------------
$white: #ffffff;
$babyblue: #88d7f8;
$glaucous: #628cbc;
$blueyonder: #5071a7;
$viridian: #558b6e;
$orange: #fab368;
$darkblue: #28438a;
$yellow: #efb45b;
$hardblue: #28438a;

// VARIABLES ----------------------------------------------
$main-color: $babyblue;
$blue-accent: $blueyonder;
$secondary-color: $glaucous;
$fourth-color: $orange;
$fifth-color: $yellow;
$sixth-color: $hardblue;
