// COLORS ----------------------------------------------
$white: #ffffff;
$babyblue: #88d7f8;
$glaucous: #628cbc;
$blueyonder: #5071a7;
$viridian: #558b6e;
$orange: #fab368;

// VARIABLES ----------------------------------------------
$main-color: $babyblue;
$secondary-color: $glaucous;
$fourth-color: $orange;
