.home {
  &__container {
    height: 600px;
    width: 100%;
    background-image: url("../../assets/images/homeImage.png");

    background-size: cover;
    background-repeat: no-repeat;
  }
}
.container__responsive {
  @include tablet {
    min-height: 70vh !important;
  }
}
