@font-face {
  font-family: "F37 Ginger";
  src: url("../../assets/fonts/F37\ Ginger\ Regular.ttf");
}
@font-face {
  font-family: "F37 Ginger";
  src: url("../../assets/fonts/F37\ Ginger\ Bold.ttf");
  font-weight: bold;
}
