.u-fullPadding {
  padding: 1rem !important;
}

.u-marginB {
  margin-bottom: 1rem !important;
}
.u-marginL {
  margin-left: 1rem !important;
}
.u-marginT {
  margin-top: 1rem !important;
}

.u-marginR {
  margin-right: 1rem !important;
}
.no-height {
  height: 0 !important;
}
